## Base16 {{scheme-name}}
# Author: {{scheme-author}}

color=#{{base00-hex}}

ring-color=#{{base0D-hex}}D8
inside-color=#{{base00-hex}}00
inside-clear-color=#{{base00-hex}}00
key-hl-color=#{{base00-hex}}D8

inside-ver-color=#{{base00-hex}}00
line-uses-inside
text-color=#{{base07-hex}}
text-clear-color=#{{base07-hex}}00
text-ver-color=#{{base07-hex}}00
text-caps-lock-color=#{{base07-hex}}
text-wrong-color=#{{base07-hex}}
