## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.

background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0E-hex}}
progress-color=source #{{base0E-hex}}

[urgency=low]
background-color=#{{base00-hex}}
text-color=#{{base0A-hex}}
border-color=#{{base0E-hex}}

[urgency=high]
background-color=#{{base00-hex}}
text-color=#{{base08-hex}}
border-color=#{{base0E-hex}}

[app-name="brightnessbar"]
font=Iosveka Heavy Oblique 12
padding=0
border-color=#{{base0C-hex}}
progress-color=#{{base0C-hex}}


