## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.

background-color=#{{base01-hex}}
text-color=#{{base05-hex}}
border-color=#{{base00-hex}}
progress-color=#{{base02-hex}}

[urgency=low]
background-color=#{{base01-hex}}
text-color=#{{base0E-hex}}
border-color=#{{base00-hex}}

[urgency=high]
background-color=#{{base01-hex}}
text-color=#{{base08-hex}}
border-color=#{{base00-hex}}

[app-name="screenshots"]
max-icon-size=256
width=300
format=
padding=16
background-color=#{{base00-hex}}
border-color=#{{base01-hex}}
border-size=8
