* {
    border-radius: 16px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosveka;
    font-size: 18px;
    min-height: 0;
	font-weight: 900;
	padding: 2px 2px;
	margin: 1.8px 2px 1.8px 2px;
}

window#waybar {
    background-color: @bg_color;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
label:focus {
    color: @base00;
}
*/

#workspaces button {
    padding: 3px 10px;
	margin: 2px 3px;
    background-color: @bg_color;
    border-color: @bg_color;
    color: @theme_fg_color;
}

#workspaces button:hover {
    background: @theme_selected_bg_color;
    border-color: @theme_selected_bg_color;
	color: @theme_text_color;
	padding: 3px 10px;
	margin: 2px 3px;
}

#workspaces button.focused {
	padding: 3px 10px;
	margin: 2px 3px;
	background-color: @theme_base_color; 
	border-color: @theme_base_color;
	color: @theme_selected_fg_color;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
	padding: 3px 10px;
	margin: 2px 3px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-wf-recorder,
#custom-flavours,
#custom-playerctl {
    padding: 0 16px;
	color: @theme_text_color;
}

#mode {
    background-color: @theme_selected_bg_color;
}

@keyframes blink {
    to {
        background-color: @base00;
        color: @base07;
    }
}

#battery.critical:not(.charging) {
    color: @base0B;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#custom-playerctl {
	color: @theme_selected_fg_color;
	background-color: @theme_base_color; 
}

#idle_inhibitor {
    padding: 0 16px;
    color: @theme_selected_bg_color;
}

#idle_inhibitor.activated {
	color: @theme_text_color;
}
