@import "colors.css";

* {
    border: none;
    border-radius: 20px 20px 20px 20px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosveka;
    font-size: 18px;
    min-height: 0;
	font-weight: 900;
	padding: 2px 2px;
	margin: 0 4px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 3px @base01;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 3px 10px;
	margin: 2px 3px;
    background-color: @base00;
    color: @base05;
    border-bottom: 3px solid @base01;
}

#workspaces button:hover {
    background: @base03;
    border-bottom: 3px solid @base05;
	padding: 3px 10px;
	margin: 2px 3px;
}

#workspaces button.focused {
	padding: 3px 10px;
	margin: 2px 3px;
    background-color: @base05;
	color: @base00;
    border-bottom: 3px solid @base01;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
	padding: 3px 10px;
	margin: 2px 3px;
    border-bottom: 3px solid @base0A;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-wf-recorder,
#mpd {
    padding: 0 20px;
	color: @base07;
    border-bottom: 4px solid @base01;
	background-color: @base00;
}

#mode {
    background-color: @base00;
    border-bottom: 3px solid @base0E;
}

@keyframes blink {
    to {
        background-color: @base00;
        color: @base07;
    }
}

#battery.critical:not(.charging) {
    color: @base0F;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    color: @base00;
}


#battery {
	color: @base0F;
}

#window {
	color: @base0D;
	background-color: @base01;
	padding: 0 10px;
}

#clock {
	color: @base0A;
}

#backlight {
    color: @base0C;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
	color: @base0E;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#custom-media {
    color: #66cc99;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    color: @base0E;
}

#idle_inhibitor {
    color: @base03;
}

#idle_inhibitor.activated {
    color: @base05;
}

#mpd {
    color: @base00;
	background-color: @base0A;
}

#mpd.disconnected {
    color: @base08;
}

#mpd.stopped {
    color: @base08;
}

#mpd.paused {
    color: @base00;
}

#custom-wf-recorder {
    color: @base02;
}
