#!/bin/sh
# base16-fish (https://github.com/gingkapls)
# Base16 fish template by gingka 
# {{scheme-name}} scheme by {{scheme-author}}

set fish_color_normal "#{{base05-hex}}"
set fish_color_command "#{{base0D-hex}}" --bold
set fish_color_quote "#{{base0B-hex}}"
set fish_color_redirection "#{{base0D-hex}}"
set fish_color_end "#{{base05-hex}}"
set fish_color_error "#{{base08-hex}}"
set fish_color_param "#{{base0A-hex}}"
set fish_color_comment "#{{base03-hex}}"
set fish_color_match "#{{base05-hex}}"
set fish_color_selection "#{{base03-hex}}"
set fish_color_search_match "#{{base0A-hex}}" --bold
set fish_color_operator "#{{base0B-hex}}"
set fish_color_escape "#{{base0C-hex}}"
set fish_color_cwd "#{{base0D-hex}}" --bold
set fish_color_autosuggestion "#{{base03-hex}}"
set fish_color_user "#{{base0E-hex}}"
set fish_color_host "#{{base0D-hex}}"
set fish_color_host_remote "#{{base0A-hex}}"
set fish_color_cancel "#{{base08-hex}}"

## pager colors
set fish_pager_color_background "#{{base01-hex}}"
set fish_pager_color_prefix "#{{base0C-hex}}"
set fish_pager_color_completion "#{{base0D-hex}}"
set fish_pager_color_description "#{{base0E-hex}}"
set fish_pager_color_selected_completion "#{{base0A-hex}}" --bold
set fish_pager_color_selected_background "#{{base0A-hex}}" --bold
set fish_pager_color_selected_description "#{{base0A-hex}}" --bold
set fish_pager_color_selected_prefix "#{{base0A-hex}}" --bold
set fish_color_valid_path
